.login__image {
  flex: 0.6;
  position: relative;
  display: flex;
  background-color: aqua;
  align-items: center;
  flex-direction: column;
}

.login {
  display: flex;
}

.login__image > img {
  width: 100%;
  object-fit: contain;
}

.login__form {
  flex: 0.4;
}

.login__twittericon {
  position: absolute;
  height: 300px !important;
  width: 300px !important;
  top: 50%;
  transform: translateY(-50%);
  /* left: 50%;
  transform: translateX(-50%); */
  margin-left: 0 auto;
  display: block;
  text-align: center;
}

.login__form {
  padding: 30px;
}

.login__form > form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.login__form > form > input {
  border-radius: 30px;
  height: 40px;
  padding-left: 20px;
  border: none;
  outline: none;
  margin-bottom: 5px;
}

.login__form > form > button {
  height: 40px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: #1d9bf0;
  color: white;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.login__form > h1 {
  font-size: 64px;
  margin: 0;
  font-weight: 700;
}

.login__form > h5 {
  font-size: 31px;
  margin-bottom: 30px;
}
.login__formicon {
  width: 60px !important;
  height: 60px !important;
  object-fit: contain;
}

.login__form > form > p {
  font-size: 11px;
  margin-top: 10px;
}

.login__form > form > h5 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}

.login__form > form > a {
  height: 40px;
  border-radius: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #536471;
  color: #1d9bf0;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
}
