.sidebarmenu {
  margin-top: 10px;
}

.icon_container {
  /* color: white;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center; */

  display: inline-flex;
  border-radius: 28px;
  padding: 14px;
  cursor: pointer;
}

.icon {
  height: 34px !important;
  width: 34px !important;
}

.icon_container:hover {
  background-color: rgba(223, 208, 208, 0.1);
}

h1 {
  font-size: 20px;
  border-radius: 50%;
  font-weight: 400;
  margin-left: 16px;
}
